VITE_API_BASE_URL=https://hype-navigator.onrender.com/api/v1
VITE_APP_NAME=Hype Navigator
VITE_DEFAULT_CHAIN_ID=1
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAIL_ALERT_TO_EMAIL=
VITE_ALERT_TO_EMAIL=